<html>
  <head>
    <meta charset="utf-8" />
    <title>E-Portfolios</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css" />
  </head>
  <body>
    <header>
      <h1>Liste des Portfolios disponibles</h1>
    </header>
    <div>
      <strong>{{test_str}}</strong>
    </div>
    <div>
      <div>liste des Portfolios</div>
      <ul>
        {%for portfolio in db_portfolios%}
        <li>{{portfolio["name"]}}</li>
        {%endfor%}
      </ul>
    </div>
  </body>
</html>
